<div class="jumbotron">
    <h1>Welcome to my app !</h1>
    <p> It is awesome !</p>
    <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Main Page', root_path, class: 'btn btn-primary' %>
</div>
